* {
    /* font-family: 'Overpass', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
}

body {
    border: 2px solid red;
    font: 16px;
}

.header {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 0px 0px 0px 100px;
    background-image: url('images/bg-pattern-intro.svg'), linear-gradient(to right, hsl(13, 100%, 72%) , hsl(353, 100%, 62%) );
    height: 65vh;
}

.nav-bar {
    padding-top: 30px;
    padding-bottom: 50px;
}

.logo {
    text-decoration: none;
    position: absolute;
    left: 25px;
    top: 35px;
    font-size: 2.15em;
    font-weight: 600;
    color: white;
}

.mobile-menu {
    position: absolute;
    right: 25px;
    top: 45px;
    background-color: transparent;
    height: 18px;
    width: 32px;
}

.header-text-section {
    width: 100%;
    padding: 0px 80px;
}

h1 {
    font-weight: 300;
    font-size: 2.3em;
    padding-top: 100px;
}

header p {
    font-size: 1.3em;
    font-family: 'Overpass', sans-serif;
    padding: 20px 0px;
}

.header-buttons {
    padding: 25px 0px;
    width: 100%;
}

.header-buttons button {
    border: 1.5px solid white;
    border-radius: 40px;
    font-weight: 300;
    height: 45px;
    width: 130px;
    padding: 7px;
    margin-right: 25px;
}

#start-for-free-btn {
    color: hsl(356, 100%, 66%);
}

#learn-more-btn {
    color: white;
    background-color: transparent;
}

main {
    /* border: 2px solid blue; */
    font-family: 'Overpass', sans-serif;
}

.sub-title-image-section {
    padding: 100px 0px 50px;
    text-align: center;
    border: 1px solid black;
    font-size: 1.8em;
    color: hsl(237, 17%, 21%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-title-image-section h2 {
    margin-bottom: 45px;
    font-weight: 600;
}

.sub-title-image-section img {
    height: 340px;
}

.sub-title-text-section {
    padding: 100px 0px 50px;
    text-align: center;
    border: 1px solid black;
    color: hsl(237, 17%, 21%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-title-text-section h2 {
    margin-bottom: 45px;
    font-weight: 600;
    font-size: 1.8em;
}